<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.harikrishnaa.routin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".no_verification" />
        <activity android:name=".signup" />
        <activity android:name=".location" />
        <activity android:name=".MainActivity" />
        <activity android:name=".home" />
        <activity android:name=".datepicker" />
        <activity android:name=".milkpro" />
        <activity android:name=".empty_1" />
        <activity android:name=".beverages" />
        <activity android:name=".bakery" />
        <activity android:name=".grocery" />
        <activity android:name=".ice_creams" />
        <activity android:name=".meat" />
        <activity android:name=".profile"></activity>
    </application>

</manifest>